# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env

# Builds
*.apk
*.aab
android/app/build/
android/build/
android/.gradle/
android/app/.cxx/
android/local.properties
ios/Pods/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Metro
.metro-health-check*

# Docker volumes
pgdata/

# Local databases
*.sqlite

# Screenshots
*.png

# Documentación local privada
explicacion_codigo.md
